entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false

certificatesResolvers:
  letsencrypt:
    acme:
      email: ${TRAEFIK_CERTBOT_EMAIL}
      storage: /certs/acme.json
      httpChallenge:
        entryPoint: web

